{% extends 'index-1.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">


{% block content %}
    <section class="blogsingle-banner">
        <img src="{% static 'images/work-single.png' %}" alt="blog" class="img-fluid">
    </section>
    <section class="blog-single-container pt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="single-work-content">
                        <div class="single-blog-heading">
                            <h3>TelegramBot</h3>
                        </div>
                        <div class="single-blog-description">
                            <p>Minerale invallen staatjes gesloten de boringen op is baksteen. Ons ziet van far liep want stof stad
                                vast elk. Valorem daartoe dag tandrad het stijgen wij amboina. Gelukken van leerling dag zij allerlei
                                vestigen het engeland. Plotseling tooverslag verdedigen werktuigen had gas wat. Zee ten voorziet
                                opbrengt mineraal als invallen zoo eilandje. Metalen ze zekeren na nu heuvels ze maanden. Gesteente
                                vernielen oog mengeling onderling aanvoeren zoo.</p>
                            <p>Huwelijken initiatief om ze nu spoorwegen is ontsnappen. Na in betreft product en planken te rechten
                                plantte. Aankoopen en in australie de al financien. Naam boom al vele op klei. Kongostaat doorzoeken na
                                er wedijveren ik verdwijnen bijzonders. Toe are kleeren koopman terrein klimaat. Men bak daarna gezond
                                brengt zou. In wellesley of inkomsten en monopolie ad. Onderlinge dag ontginning mei tot mijnschool een.
                                Nemen al aldus langs of telde te ze wonen. Verkregen bloeiende en te schroeven. Dat gelukkige des van
                                verklaart bezorgden inzamelen. De even welk ad acre ze mont. Procede gronden in bereikt de te verdere.
                                Zeven steel is ugong op. Ingericht brandstof er te degelijke herhaling. Jungles af planten ontdekt op.
                                Dal systemen dikwijls verlaten dit stampers. Steenen ad en gronden gelegen de. Voeten tengka een forten
                                voeden afzien pinang zij lot dus. De iets wijk er drie. Resident men dik verwoede atjehers hen.
                                Gebergten siameezen provincie zin dringende denkbeeld zee. Far wel stijgen heb pagoden amboina product
                                percent vrouwen. Boom ad half ze oude want. Districten tembunmijn te in losgemaakt opgegraven.</p>
                        </div>
                        <div class="single-work-video">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VN2aaYZ58PE?rel=0"
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="single-blog-description">
                            <p>Minerale invallen staatjes gesloten de boringen op is baksteen. Ons ziet van far liep want stof stad
                                vast elk. Valorem daartoe dag tandrad het stijgen wij amboina. Gelukken van leerling dag zij allerlei
                                vestigen het engeland. Plotseling tooverslag verdedigen werktuigen had gas wat. Zee ten voorziet
                                opbrengt mineraal als invallen zoo eilandje. Metalen ze zekeren na nu heuvels ze maanden. Gesteente
                                vernielen oog mengeling onderling aanvoeren zoo.</p>
                            <p>Huwelijken initiatief om ze nu spoorwegen is ontsnappen. Na in betreft product en planken te rechten
                                plantte. Aankoopen en in australie de al financien. Naam boom al vele op klei. Kongostaat doorzoeken na
                                er wedijveren ik verdwijnen bijzonders. Toe are kleeren koopman terrein klimaat. Men bak daarna gezond
                                brengt zou. In wellesley of inkomsten en monopolie ad. Onderlinge dag ontginning mei tot mijnschool een.
                                Nemen al aldus langs of telde te ze wonen. Verkregen bloeiende en te schroeven. Dat gelukkige des van
                                verklaart bezorgden inzamelen.</p>
                        </div>
                        <div class="single-work-gallery">
                            <div class="row">
                                <div class="col-md-7 margin-top-auto">
                                    <div class="work-gallery-img">
                                        <img src="{% static 'images/work-gallery-img-1.png' %}" alt="gallery" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="work-gallery-img ">
                                        <img src="{% static 'images/work-gallery-img-2.png' %}" alt="gallery" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="work-gallery-img">
                                        <img src="{% static 'images/work-gallery-img-3.png' %}" alt="gallery" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="work-gallery-img">
                                        <img src="{% static 'images/work-gallery-img-4.png' %}" alt="gallery" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="next-previous-project">
                            <div class="previous-link">
                                <a href="#">Previous project</a>
                            </div>
                            <div class="next-link text-right">
                                <a href="#">next project</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sidebar-work mt-3">
                        <div class="sidebar-heading">
                            <h4>
                                Client.
                            </h4>
                        </div>
                        <span>Daisy’s</span>
                    </div>
                    <div class="sidebar-work">
                        <div class="sidebar-heading">
                            <h4>
                                Date
                            </h4>
                        </div>
                        <span>March,2019</span>
                    </div>
                    <div class="sidebar-work">
                        <div class="sidebar-heading">
                            <h4>
                                agency
                            </h4>
                        </div>
                        <span class="text-capitalize">PJNU</span>
                    </div>
                    <div class="sidebar-work">
                        <div class="sidebar-heading">
                            <h4>
                                role
                            </h4>
                        </div>
                        <a href="#">creative design</a>
                        <a href="#">creative direction</a>
                        <a href="#">Illustration</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block title %}
    <footer class="main-footer">
        <div class="container">
            <div class="next-page-link">
                <a href="{% url 'home' %}">Главная. </a>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-link">
                        <ul>
                            <li>
                                <a href="#" class="mr-5"><i class="fa fa-instagram " aria-label="true"></i></a>
                            </li>
                            <li>
                                <a href="https://m.facebook.com/profile.php?id=100042457636321&fref=nf&__tn__=-R" class="mr-5"><i class="fa fa-facebook" aria-label="true"></i></a>
                            </li>
                            <li>
                                <a href="#" class="mr-5"><i class="fa fa-whatsapp" aria-label="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="copy-right">
                <span>
                  ВСЕ ПРАВА ЗАЩИЩЕНЫ 2021 (C) Kana-Portfolio
                </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

